{{#each data}}
  <div class="country__card">
    <div class="coutry__thumb">
      <image width="50" height="50" src="{{flags.svg}}"></image>
    <h2 class="country__name">{{name.common}}</h2>
    </div>
    <p><b>Capital:</b> {{capital}}</p>
    <p><b>Population:</b> {{population}}</p>
    <p><b>Languages:</b> {{languages}}</p>
  </div>
{{/each}}


